
<div class="box">
    <h3>NOMBRES</h3>
    <h3>APELLIDO</h3>
    <h3>FECHA_NACIMIENTO</h3>
</div> 

<div class="box" *ngFor="let data of responseData">
    <div class="nombres">
        <span>{{data.NOMBRE}}</span>
    </div>
    <div class="apellidos">
        <span>{{data.APELLIDO}}</span>
    </div>
    <div class="apellidos">
        <span>{{data.FECHA_NACIMIENTO}}</span>
    </div>
</div> 



<div class="box">
    <h3>NOM_UNIVERSIDAD</h3>
    <h3>ID_UNIVERSIDAD</h3>
</div> 

<div class="box" *ngFor="let dataCollage of responseCollage">
    <div class="nombres">
        <span>{{dataCollage.NOM_UNIVERSIDAD}}</span>
    </div>
    <div class="apellidos">
        <span>{{dataCollage.ID_UNIVERSIDAD}}</span>
    </div>
</div> 