<h2 *ngIf="level6">Help to Raccoons to find his water!!!</h2>
<h2 *ngIf="level7">A cotidian case.</h2>
<h2 *ngIf="level8">By JhonC.</h2>
<div class="boxMainLvl1" *ngIf="level1">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box2">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(2)">Next Lvl</button>
</div>

<div class="boxMainLvl2" *ngIf="level2">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box2">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(3)">Next Lvl</button>
</div>

<div class="boxMainLvl3" *ngIf="level3">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box2">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(4)">Next Lvl</button>
</div>

<div class="boxMainLvl4" *ngIf="level4">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box1">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box2">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box2">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(5)">Next Lvl</button>
</div>

<div class="boxMainLvl5" *ngIf="level5">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box2">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box3">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box4">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box5">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box6">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(6)">Next Lvl</button>
</div>

<div class="boxMainLvl6" *ngIf="level6">
    <div class="boxRaccon">
        <div class="box1">
            <img class="redRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box2">
            <img class="blueRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
        <div class="box3">
            <img class="yellowRaccoon" src="../../../../assets/img/rocket.jpg" >
        </div>
    </div>
    <div class="boxWater">
        <div class="box4">
            <img class="redWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box5">
            <img class="blueWater" src="../../../../assets/img/water.jpeg" >
        </div>
        <div class="box6">
            <img class="yellowWater" src="../../../../assets/img/water.jpeg" >
        </div>
    </div>
    <button class="level" (click)="nextLevel(7)">Next Lvl</button>
</div>

<div class="boxMainLvl7" *ngIf="level7">
    <div class="boxRaccon">
        <div class="formulario">
            <div class="ctn1">
                <div class="boxname">
                    <label>Primer Nombre</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
                <div class="box2name">
                    <label>Segundo Nombre</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
            </div>
            <div class="ctn2">
                <div class="boxlastname">
                    <label>Primer Apellido</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
                <div class="box2lastname">
                    <label>Segundo Apellido</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="boxWater">
        <div class="formulario">
            <div class="ctn1">
                <div class="boxname">
                    <label>Primer Nombre</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
                <div class="box2name">
                    <label>Segundo Nombre</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
            </div>
            <div class="ctn2">
                <div class="boxlastname">
                    <label>Primer Apellido</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
                <div class="box2lastname">
                    <label>Segundo Apellido</label>
                    <input type="text" placeholder="Escribe Tu nombre">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <button class="level" (click)="nextLevel(8)">Thanks for Play</button>
</div>

<div class="endGame" *ngIf="level8">
    <div class="boxRaccon">
        <img class="redRaccoon" src="../../../../assets/img/endgame.jpg" >
    </div>
    <button class="level" (click)="nextLevel(1)">Retry ></button>
</div>






<!--
<div class="box">
    <h3>NOMBRES</h3>
    <h3>APELLIDO</h3>
    <h3>FECHA_NACIMIENTO</h3>
</div>

<div class="box" *ngFor="let data of responseData">
    <div class="nombres">
        <span>{{data.NOMBRE}}</span>
    </div>
    <div class="apellidos">
        <span>{{data.APELLIDO}}</span>
    </div>
    <div class="apellidos">
        <span>{{data.FECHA_NACIMIENTO}}</span>
    </div>
</div>



<div class="box">
    <h3>NOM_UNIVERSIDAD</h3>
    <h3>ID_UNIVERSIDAD</h3>
</div>

<div class="box" *ngFor="let dataCollage of responseCollage">
    <div class="nombres">
        <span>{{dataCollage.NOM_UNIVERSIDAD}}</span>
    </div>
    <div class="apellidos">
        <span>{{dataCollage.ID_UNIVERSIDAD}}</span>
    </div>
</div>  -->
